.item{
    width: 500px;
    height: 161px;
    border: 1px solid rgb(186, 185, 185);
    margin-bottom: 22px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.img{
    width: 111px;
    height: 111px;

  
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}
button{
    padding: 6px 20px 6px 20px;
    background-color: rgb(238, 115, 115);
    border-radius: 7px;
    color: white;
}